body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row; /* Horizontal alignment */
    align-items: flex-end; /* Align at the bottom */
}

.card {
    width: 40%;
    max-width: 200px;
    margin-right: 20px; /* Add space between cards */
    margin-bottom: 20px;
}
#sidebar {
  width: 110px;
  height: 1024px;
  background-color: #333333;
  padding: 10px;
}

.box {
  width: 90px;
  height: 90px;
  background-color: #18191a;
  color: white;
  margin-bottom: 10px; /* Spacing between boxes */
  padding: 5px;
  text-align: center; /* Center the text and logo */
}
.box i {
  width: 100%; /* Adjust as needed */
  margin-bottom: 0px; /* Space between logo and text */
}